.search {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border-radius: 8px;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  border: none;
  font-size: 20px;
  font-weight: 500;
  padding-right: 8px;
  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.search img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #b4f7f9;
}