.App {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
          90deg,
          rgb(180, 241, 249) 0%,
          rgba(249, 211, 180, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}